<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <%- include("../partial/header",title="Create student") %>
        <div class="container h-[80vh] mx-auto grid place-items-center">
            <form
                method="post"
                class="max-w-[550px] w-full gap-6 px-5 py-8 rounded-md bg-gray-500 flex flex-col items-stretch"
                name="create-student"
            >
                <input
                    required
                    type="text"
                    name="name"
                    placeholder="Enter student name"
                    class="h-[46px] px-5 rounded-md focus:outline-none"
                />
                <select
                    class="h-[46px] focus:outline-none px-5 rounded-md"
                    required
                    name="level"
                    id=""
                >
                    <option selected disabled value="">Select Level</option>
                    <option value="backend">Backend</option>
                    <option value="frontend">Frontend</option>
                    <option value="beginner">Beginner</option>
                </select>
                <input
                    class="bg-blue-500 h-[46px] rounded-md font-semibold text-white"
                    type="submit"
                />
            </form>

            <script src="/js/create-user.js"></script>
        </div>
    </body>
</html>
