<header class="px-5 bg-purple-950">
    <div
        class="flex container py-4 mx-auto text-gray-100 justify-between items-center"
    >
        <h3 class="text-xl font-semibold">LIVE</h3>
        <ul class="hidden md:flex items-center gap-3">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create-user">Create student</a></li>
            <li><a href="/delete-user">Delete student</a></li>
        </ul>

        <div class="grid gap-[2px] w-[20px]">
            <span class="w-full h-1 rounded-sm bg-gray-200"></span
            ><span class="w-full h-1 rounded-sm bg-gray-200"></span
            ><span class="w-full h-1 rounded-sm bg-gray-200"></span>
        </div>
    </div>
</header>
